.nav-link {
  color:white !important;
  display: flex;
  align-items: center;
  margin: 0 30px !important ;
  font-weight: bold !important;
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color:red !important;
  background-color:yellow;
}

.navbar-toggler {
  border-color:#007bff;
}

.form-control {
  margin-right: 0 0;
}

.btn-login {
  background-color: transparent;
  border: none;
  color: white;
  display: flex;
  align-items: center;
}

.btn-login:hover {
  color: #007bff;
}

.img-avatar {
  height: 50px;
  width: 50px;
  border-radius: 48%;
  margin-left: 1rem;
}

.user-info {
  display: flex;
  align-items: center;
  color: #000 !important;
}

.searchInput{
  display: flex;
  border-radius: 20px;
  width:23% !important;
  height:40px;
}

.login{
  font-size: 20px !important;
}