@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

.navbar-custom {
    background-color: white; /* Màu nền của navbar */
    text-transform: uppercase;
    height: 90px;
}

.navbar-custom .navbar-brand {
    font-weight: bold; 
    margin-left: 25px; 
    font-size: 30px;
    color:#B8860B;
}

.navbar-custom .navbar-brand img {
    width:70px;
    height:60px;
}

.navbar-custom .nav-link {
    color: #2E8B57; 
    font-size:15px;
    font-weight:bold;
    margin-left:20px; 
}

.navbar-custom .nav-link:hover,
.navbar-custom .nav-link:focus {
    color: #B8860B; 
}

.navbar-custom .nav-dropdown {
    color: #2E8B57; 
}

.navbar-custom .dropdown-menu {
    background-color: #f8f9fa; 
}

.navbar-custom .dropdown-item {
    color:#2E8B57; 
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    background-color: #B8860B; 
    color: white; 
    font-weight: bold;
    font-style: italic;
}

.searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.searchInput {
    border: 1px solid #B8860B;
    border-radius: 30px;
    width:170px;
    height:35px;
}

.searchButton {
    color: #B8860B;
    border: none;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #B8860B; 
}
